*{
    font-family: calibri, monospace;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 30px 400px;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
    border-radius: 10px 100px / 120px;
  }


  #input-original {
    height:  300px;
    width: 700px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
  }

  .rango{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #botones{
      display: flex;
      padding: 20px 20px 20px 20px;
      justify-content: center;
      align-items: center;
  }

  #button {
    margin-top: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #buton {
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #instrucciones{
      height: 20px;
  }

  .resultado{
    border: 1px solid #C00;
  }

  #texto{
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline overline;
      font-size: 30px;
  }